# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b2eaee3831b4a32d2e122de0a85859a1"
name = "Draft order app"
application_url = "https://draft-order-app-rk3s.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_draft_orders,read_draft_orders,write_customers,read_customers"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ 
  "https://draft-order-app-rk3s.onrender.com/auth/callback",
  "https://draft-order-app-rk3s.onrender.com/auth/shopify/callback",
  "https://draft-order-app-rk3s.onrender.com/api/auth/callback"
]

[app_proxy]
url = "https://draft-order-app-rk3s.onrender.com"
subpath = "draft-order-proxy"
prefix = "apps"